/* breakpoints */
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;


$clr-white: #FFFFFF;
$clr-black: #121212;
$clr-widget-bg: #f5f5f550;
$clr-widget-border: 1px solid #f5f5f5ad;
$clr-widget-border-radius: 10px;



$primary--font:  'Open Sans', sans-serif;
$secondary--font: 'Questrial', sans-serif;
